/* ContactUs.css */
.contact-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

.contact-us {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: #faf1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-us h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-us p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 90px;
    background-color: #000;
    padding: 5px;
    color: #fff;
    width: 100%; /* Set the width to 100% to cover the whole outer div */
    margin: 0;
  }
  
  .contact-info-item {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 10px;
    font-size: 24px;
  }